{% extends 'abonados/home.html' %}


{% block contenido %}
<div class="services-table-container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Alta de Facturas</h6>
        </div>
        <div class="card-body">

<div class="search-form-container">
    <form action="" method="post">
        {% csrf_token %}
    
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Enviar">
    </form>
</div>
</div>


{% endblock contenido %}
